<link href="/FRONTEND/templates/url.css" rel="stylesheet">
<h3>Icons inside the input element</h3>
<form class="inline">
  <div class="input-icons">
    <i class="bi bi-dice-6 icon"></i>
    <input class="input-field" type="text" />
    <i class="fa fa-envelope icon"></i>
    <input class="input-field" type="text" />
    <i class="fa fa-phone icon"></i>
    <input class="input-field" type="text" />
    <i class="fa fa-lock icon"></i>
    <input class="input-field" type="text" />
  </div>
</form>


<form id="generator-form">
            <div class="form-group">
              <label id="url-label" for="pattern">Patterns</label>
              <select id="dropdown" name="pattern" class="form-control" required>
                <option disabled selected value>Choose pattern</option>
                <option value="blue">Blue</option>
                <option value="black">Black</option>
                <option value="yellow">Yellow</option>
                <option value="red">Red</option>
                <option value="Purple">Purple</option>
                <option value="green">Green</option>
              </select>
            </div>

            <div class="form-group">
              <label id="url-label" for="logo">Logo</label>
              <select id="dropdown" name="pattern" class="form-control" required>
                <option disabled selected value>Add logo</option>
                <option value="blue">Blue</option>
                <option value="black">Black</option>
                <option value="yellow">Yellow</option>
                <option value="red">Red</option>
                <option value="Purple">Purple</option>
                <option value="green">Green</option>
              </select>
            </div>

            <div class="form-group">
              <label id="url-label" for="color">Color</label>
              <select id="dropdown" name="color" class="form-control" required>
                <option disabled selected value>Select a color</option>
                <option value="default" name="#">Default</option>
                <option value="blue" name="#0000FF">Blue</option>
                <option value="black" name="#808080">Grey</option>
                <option value="yellow" name="#FFFF00">Yellow</option>
                <option value="red" name="#FF0000">Red</option>
                <option value="Purple" name="#800080">Purple</option>
                <option value="green" name="#008000">Green</option>
              </select>
            </div>
            <div class="form-group">
              <label id="url-label" for="pattern">Frame</label>
              <select id="dropdown" name="pattern" class="form-control" required>
                <option disabled selected value>Choose frame</option>
                <option value="default" name="#">Default</option>
                <option value="blue" name="#0000FF">Blue</option>
                <option value="black" name="#808080">Grey</option>
                <option value="yellow" name="#FFFF00">Yellow</option>
                <option value="red" name="#FF0000">Red</option>
                <option value="Purple" name="#800080">Purple</option>
                <option value="green" name="#008000">Green</option>
              </select>
            </div>
            <div class="form-group">
              <label><input name="user-select" value="png" type="radio" class="input-radio" checked/> PNG</label>
            <label><input name="user-select" value="svg" type="radio" class="input-radio" checked/> SVG</label>
            <label><input name="user-select" value="jpg" type="radio" class="input-radio" checked/> JPG</label>
            </div>
            <div class="form-group input-icons">
              <label id="name-label" for="name">QR Code Name</label>
              <i class="bi bi-dice-6 icon"></i>
              <input name="name" id="name" type="text" class="form-control input-field" placeholder="Enter name for generated QR Code" required/></div>
              <div class="form-group">
                <button type="submit" id="submit" class="submit-button">Generate</button>
              </div>

          </form>
          </div>
          </div></center>

          <option disabled selected value>Select a color</option>
                <option value="default" name="#">Default</option>
                <option value="blue" name="#0000FF">Blue</option>
                <option value="black" name="#808080">Grey</option>
                <option value="yellow" name="#FFFF00">Yellow</option>
                <option value="red" name="#FF0000">Red</option>
                <option value="Purple" name="#800080">Purple</option>
                <option value="green" name="#008000">Green</option>
<!--Select color code-->
<label id="url-label" for="color">Color of QR Code</label>
<input type="color" id="color" name="color" value="black"><label for="color">Choose Color for QR Code</label>